@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    --radius: 15px;
    --light-background:#fdd4b2;
    --dark-background: #3a4a65;
    --darker-background: #2D3142;
    /* --dark-text: rgb(75, 22, 22); */
    --dark-text: black;
    --light-text: #BFC0C0;
    --header-text: white;
    --footer-background: #ff4d00;


}


body{
    background-color: var(--light-background);

}

img{
    max-width: 100%;
    object-fit: cover;
}

h1{
    font-size: 3rem;
}

h3{
    color: var(--darker-background);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 3px;
    font-size: 1.25rem;
    
}




a{
    text-decoration: inherit;
    color: inherit;
}


section{
    padding-top: 10px;
}

.header{
    display: grid;
    justify-content: center;
    background-color: var(--darker-background);
    color: var(--header-text);
    box-shadow: 0px 3px 5px rgb(170, 169, 169);
    position: sticky;
    top:0px;
    padding-bottom: 12px;
    padding-top: 12px;
    z-index: 5;
}


.socials>ul{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
}

.socials img{
    height: 2rem;
}

.main{
    padding: 0px 30px;
    max-width: 900px;
    margin: auto;
    color: var(--dark-text);
    /* background-color: hsl(199, 100%, 91%); */
    /* box-shadow: -5px 0px 5px rgb(177, 177, 177),
                5px 0px 5px rgb(177, 177, 177); */
}


.grid1{
    display: grid;
    padding: 15px 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(150px, 7);
    justify-content: space-around;
    text-align: center;
    column-gap: 25px;
    row-gap: 10px;
}

.item{
    border-radius: var(--radius);
    box-shadow: -2px -2px 3px grey,
    2px 2px 3px rgb(61, 61, 61);
    background-color: var(--darker-background);
    color: var(--light-text);
}

.desc{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: .9rem;
}

.item h4{
    font-size: 1rem;
}


button.item{
    border: none;
}

button.item:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px grey,
    5px 5px 7px rgb(61, 61, 61);
    scale: 1.02;
    transition: all 0.03s;
}

button.item:active{
    box-shadow: 2px 2px 5px rgb(61, 61, 61),
    -2px -2px 5px rgb(61, 61, 61);
}

.travel button.item{
    box-shadow: none;
    cursor: auto;
    scale: 1.00;

}

.item img{
    border-radius: 10px 10px 0px 0px;
    height: 150px;
    min-width: 100%;
}

.skills button.item{
    padding: 15px;
    min-height: 100px;
}




.footer{
    background-color: var(--dark-background);
    color: white;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    position: relative;
    margin-top: 20px;
}


/* SKILLS PAGE */



.part{
    scroll-margin-top: 100px;
}

.part li{
    margin-bottom: 15px;
}

a.linked{
    color: rgb(6, 33, 208);
    text-decoration: underline;
}

ul.bullet{
    margin-top: 10px;
}

ul.bullet li{
    list-style-type: disc;
    margin-left: 15px;
    
}